<GridLayout>
    <ScrollView class="backgroundRegister">
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" class="backgroundLoginForm">
                <StackLayout class="input-field">
                    <Label text="First Name" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.firstname"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Last Name" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.lastname"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Register" (tap)="register()"></Button>
                <Label (tap)="goBack()" text="Already a member? Login here." class="text-center footnote" [disabled]="loading"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>