<ActionBar class="action-bar">
</ActionBar>

<GridLayout class="page page-content">

  <StackLayout>
      <Label text="Menu" textWrap="true"></Label>
      <ListView [items]="menuItems" (itemTap)="onItemTap($event)" class="m-t-20" height="90%">
        <ng-template let-item="item">
          <GridLayout rows="*, *, *" columns="100, *" class="m-t-5 p-10">
            <StackLayout row="0" col="0" rowSpan="3" class="m-r-10">
              <Image [src]="item.photo"></Image>
            </StackLayout>
            <Label [text]="item.name" row="0" col="1"></Label>
            <Label [text]="item.description" row="1" col="1" textWrap="true"></Label>
            <Label [text]="item.rating" row="2" col="1"></Label>
          </GridLayout>
        </ng-template>
      </ListView>

  </StackLayout>
</GridLayout>