<ActionBar class="action-bar">
	<!-- 
Use the NavigationButton as a side-drawer button in Android
because ActionItems are shown on the right side of the ActionBar
-->
	<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
	<ActionItem tap="onShare" android.systemIcon="ic_menu_mylocation" android.position="actionBar">
	</ActionItem>
	<!-- 
Use the ActionItem for IOS with position set to left. Using the
NavigationButton as a side-drawer button in iOS is not possible,
because its function is to always navigate back in the application.
-->
	<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
	</ActionItem>
	<Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
	<StackLayout class="m-t-10">
		<TextField hint="Filter" 
			secure="false"
			autocorrect="false"
			width="70%"
			class="input input-border"></TextField>
		<PullToRefresh (refresh)="getAllPlaces($event)">
			<ListView [items]="places" (itemTap)="onItemTap($event)" class="m-t-30" height="90%">
				<ng-template let-item="item">
					<GridLayout rows="*, *, *" columns="100, *" class="m-t-5 p-10">
						<StackLayout row="0" col="0" rowSpan="3" class="m-r-10">
							<Image [src]="item.mainImage" ></Image>						
						</StackLayout>
						<Label [text]="item.name" row="0" col="1"></Label>
						<Label [text]="item.description" row="1" col="1"></Label>
						<Label [text]="item.rating" row="2" col="2"></Label>
					</GridLayout>
				</ng-template>
			</ListView>
		</PullToRefresh>
	</StackLayout>
</GridLayout>