<!-- <GridLayout backgroundColor="#CCCCCC"> -->
<ActionBar title="Login"></ActionBar>
<GridLayout>
    <ScrollView class="backgroundLogin">
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" class="backgroundLoginForm">
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.email" auto></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Login" (tap)="login()"></Button>
                <Label [nsRouterLink]="['/auth/register']" text="Not a member? Register here." class="text-center footnote"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>