<ActionBar class="action-bar">
</ActionBar>

<GridLayout class="page page-content">
  <ScrollView>
    <StackLayout *ngIf="place">
      <StackLayout>
        <Image [src]="place.mainImage"></Image>
      </StackLayout>
      <StackLayout class="m-t-10 text-center">
          <Label [text]="place.name" textWrap="true"></Label>
      </StackLayout>
      <FlexboxLayout flexDirection="row" justifyContent="space-around">
        <Label text="Caregory" textWrap="true"></Label>
        <Label text="stars" textWrap="true"></Label>
      </FlexboxLayout>
      <StackLayout>
        <Image [src]="place.mainImage"></Image>
      </StackLayout>
      <StackLayout>
          <Label [text]="place.description" textWrap="true"></Label>
      </StackLayout>
      <StackLayout>
          <Button text="Continuar" (tap)="onCheckMenu()" class="btn btn-primary"></Button>
      </StackLayout>

    </StackLayout>
  </ScrollView>
</GridLayout>